{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="section-top">
        <img src="{% static 'img/slider0.jpg' %}" alt="slider" class="responsive" style="width: 100%; height: auto">
{#        Not working class responsive#}
    </div>
    <div class="section">
        <div class="container">
            <div class="row">

                {% for product_image in products_images %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="for_img">
                                <img src="{{ product_image.image.url}}" class="img-responsive" style="width: 100%; height: auto">
                            </div>
                        <h5>{{ product_image.product.name }}</h5>
                            <p>
                                {{ product_image.product.description| truncatechars_html:50 }}
                            </p>
                            <div class="add-to-cart-btn">
                                <div class="btn btn-success">
                                    Добавить в корзину
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}