<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOP</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>
<div class="general-container">
    <div class="container top-container">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 ">
                <h1 class="title">Shop is very soon open</h1>
                <h1 class="title">Add your email in forms</h1><br>
                <div>
                    <form action="" method="post" class="form-inline text-center">{% csrf_token %}
                        <div class="form-group ">
                            <label class="lb">Your email:</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group form-r">
                            <label class="lb">Your name:</label>
                            {{ form.name}}
                        </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                    </div>
                        </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>