{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_item in product.productimage_set.all %}
                    <img src="{{image_item.image.url}}" style="max-width: 100%;  height: auto; display:block; margin-top: 50px;">
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h1 class="text-center name_product" >
                    {{ product.name }}
                </h1>
                <div>
                    <div class="price">
                        Цена: {{ product.price }} UAH
                    </div>
                </div>
                <div class="deccription_nav">
                     <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#descriptions">
                            Описание
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#delivery">Доставка</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
                      </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane container active" id="descriptions">
                          {{ product.description }}
                      </div>
                      <div class="tab-pane container fade" id="delivery">
                          <h3>Куда вам отправить товар?</h3>
                      </div>
                      <div class="tab-pane container fade" id="menu2">...</div>
                    </div>
                </div>
                <div class="form-group">
                    <form class="form-inline" id="form_buying_product" action="{% url 'basket_adding' %}" >{% csrf_token %}
                        <label for=""><input type="number" class="form-control" name="number" id="number"></label>
                        <button type="submit"  id="submit_btn" class="btn btn-success btn-buy"
                            data-product_id = "{{ product.id }}"
                                data-name ="{{ product.name }}"
                                data-price ="{{ product.price }}">
                        Купить
                        </button>
                    </form>

                    </div>
                <div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}